<img id="burger-img" src="../public/assets/img/burger.png" alt="Yummy Burger">



<h1>Eat Them Burgers!</h1>


<ul>
  {{#each all_burgers}}
    {{#unless devoured}}
      {{> all_burgers/all_burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>


<form class="choose-devoured">
  <button id="devour">Devour!</button>
</form>

<h2>Burgers Devoured</h2>

<ul>
  {{#each all_burgers}}
    {{#if devoured}}
      {{> all_burgers/all_burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>


<form class="enter-burger">
<div class="form-group">
    <label for="burger-input">Search for your Burger!</label>
    <textarea class="form-control" id="burger-input" rows="3"></textarea>
  </div>

  <button id="add-burger" type="submit">Submit</button>
</form>

