<img src="../public/assets/img/burger.png" alt="Yummy Burger">



<h1>Eat Them Burgers!</h1>


{{!-- <ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}


<form class="enter-burger">
<div class="form-group">
    <label for="burger-input">Search for your Burger!</label>
    <textarea class="form-control" id="burger-input" rows="3"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>
